@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /* text-align: center; */
  background-color: #ffffff;
  --primary-color: #rgb(0, 157, 224);
}

.showDeliveryFee {
  color: #00c8ff; 
  font-size: x-large;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

#wolt-logo {
  height: 12vh;
  pointer-events: none;
}

.MenuItem-module__name___iqvnU {
  padding: 0px;
  font-size: 1.125rem;
  line-height: 1.4;
  max-height: 2.8em;
  font-weight: 600;
  margin-bottom: 0.375rem;
  color: var(--cb-textPrimary);
  white-space: pre-wrap;
  overflow: hidden;
}

.App-header {
  background-color: #ffffff;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input-icon::before {
  content: "🔍";
  left: 40px;
}