@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  --primary-color: #rgb(0, 157, 224);
  font: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.showDeliveryFee {
  color: #00c8ff; 
  font-size: x-large;
}

.App-logo {
  pointer-events: none;
}

@keyframes slide-in-left {
  10% {
    transform: translateX(100%);
  }
  15% {
    transform: translateX(0);
  }
}

.logo-animation {
    animation: slide-in-left 10s ease-in-out;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}