@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /* text-align: center; */
  background-color: #ffffff;
  --primary-color: #rgb(0, 157, 224);
  font: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

.showDeliveryFee {
  color: #00c8ff; 
  font-size: x-large;
}

.App-logo {
  pointer-events: none;
}

#wolt-logo {
  height: 10vh;
  margin-left: 2rem;
  /* pointer-events: none; */
}

@keyframes slide-in-left {
  10% {
    transform: translateX(-150%);
  }
  15% {
    transform: translateX(0);
  }
}

.logo-animation {
    animation: slide-in-left 10s ease-in-out;
    animation-iteration-count: infinite;
}

.MenuItem-module__name___iqvnU {
  padding: 0px;
  font-size: 1.125rem;
  line-height: 1.4;
  max-height: 2.8em;
  font-weight: 600;
  margin-bottom: 0.375rem;
  color: var(--cb-textPrimary);
  white-space: pre-wrap;
  overflow: hidden;
}

.App-header {
  background-color: #ffffff;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
